@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.jsx';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-vicinity-bg: #4a5a67;
    --color-vicinity-card: #526270;
    --color-vicinity-input: #3d4b56;
    --color-vicinity-text: #ebc1b6;
    --color-vicinity-border: #ebc1b6;
    --color-vicinity-hover: #5e7080;
}

button,
[type="button"],
[type="submit"],
[type="reset"],
.btn,
[role="button"],
a[role="button"] {
    cursor: pointer;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(86%) sepia(16%) saturate(540%) hue-rotate(310deg) brightness(96%) contrast(88%);
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
    filter: invert(86%) sepia(16%) saturate(540%) hue-rotate(310deg) brightness(100%) contrast(90%);
}
